.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

#main {
  margin-left: 200px;
  padding: 20px;

  @media screen and (max-width : 680px) {
    margin-left: 0px;
    background-color: green
  }
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}



