#md-body {
    overflow-y: auto;
}

#md-content {
    text-align: left;
    width: 740px;
    height: calc(100vw - 50px);
    margin: auto;

    @media screen and (max-width : 1140px) {
        width: 100%;
    }
}