@import '../constants.scss';

.header {
    height: 36px;
    width: calc(100vw - 20px);
    padding: 10px 10px;
    border-bottom: 1px solid #eaecef;
    position: fixed;
    z-index: 20;
    background-color: #ffd816;
    display: flex;
    flex-direction: row;
}

.icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
}

.icon-container {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    display: none;
    padding: .6rem;
    top: .6rem;


    @media screen and (max-width: 681px) {
        display: block;
      }
}

.site-title {
    color: $text-color;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    position: relative;
    width: calc(100vw - 9.4rem);
    text-align: left;
    font-family: 'Lobster', cursive;
}

.search-box {
    vertical-align: top;
    margin-left: auto;

    input {
        height: 2rem;
        color: #4e6e8e;
        display: inline-block;
        border: 2px solid #cfd4db;
        border-radius: 2rem;
        font-size: .9rem;
        line-height: 2rem;
        padding: 0 .5rem 0 2rem;
        outline: none;
        transition: all .2s ease;
        background: #fff url("../search.83621669.svg") .6rem .5rem no-repeat;
        background-size: 1rem;
        margin-right: 15px;
        width: 10rem;
    
        @media screen and (max-width: 680px) {
            cursor: pointer;
            width: 0;
            padding: 0 .5rem 0 1.6rem;
            border-color: transparent;
            position: relative;
            margin-right: 5px;
        }

        @media screen and (max-width: 330px) {
            display: none;
        }

        &:focus {
            cursor: text;
            left: 0;
            width: 10rem;
            border-color: $primary1;
        }
    }
}
.link-container {
    height:32px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 680px) {
        display: none;
    }
}
.header-link {
    text-decoration: underline;
    font-size: 1rem;
    color: $primary1;
    font-weight: bold;
}

.links {
    padding-left: 15px;
    margin-left: auto;
}