@import '../../constants.scss';

#tabbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
    border-right: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    top: 56px;
}

.open {
    width: 320px !important;

    @media screen and (max-width : 950px) {
        width: 250px !important;
      }
}

.closed {
    width: 0px !important;
}

.sidebar-item {
    display: block;
    text-align: left;
    outline: none;
    text-decoration: none;
    padding:10px 20px;
}

.tab-item {
    font-weight: 600;
    font-size: 1.3rem;
    color: $text-color;

    @media screen and (max-width : 950px) {
        font-size: 1.2rem;
      }
}

.category-item {
    color: $text-color;
    padding: 5px 20px;

    &:hover {
        color: $primary1;
    }

    &:active {
        color: $primary1;
    }

    @media screen and (max-width : 950px) {
        font-size: .9rem;
      }
}

.link-active {
    color: $primary1;
    border-left: 3px solid $primary2;
    font-weight: 500;
}

.subcategory {
    display: block;
    padding: 5px 40px;
    border-left: none !important;
    text-decoration: none;
    color: $text-color;
    text-align: left;
    font-size: .8rem;

    &:hover {
        color: $primary2;
    }

    &:active {
        color: $primary1;
    }

    @media screen and (max-width : 950px) {
        font-size: .7rem;
      }
}

.subcategory-active {
    color: $primary1;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

//arrow straight up copied from reference :-p
.arrow {
    position: relative;
    top: -.12em;
    left: .5em; 
    display: inline-block;
    width: 0;
    height: 0;
}

.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #ccc;
}

.down {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ccc;
}
