#tabbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-right: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    top: 56px;
}

.open {
    width: 320px !important;

    @media screen and (max-width : 950px) {
        width: 250px !important;
      }
}

.closed {
    width: 0px !important;
}

.sidebar-item {
    display: block;
    text-align: left;
    outline: none;
    text-decoration: none;
}

.tab-item {
    font-weight: 600;
    font-size: 22px;
    color: black;

    @media screen and (max-width : 950px) {
        font-size: 20px;
      }
}

.category-item {
    color: #2c3e50;

    &:hover {
        color: #3eaf7c;
    }

    &:active {
        color: #3eaf7c;
    }

    @media screen and (max-width : 950px) {
        font-size: 15px;
      }
}